<%= form_with model: @post do |form| %>
  <%= form.label :body, "Create a new anonymous post:" %>
  <%= form.text_area :body, size:"70x5", :value => "Post goes here" %>

  <%= form.submit "Submit" %>
  
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
