<!DOCTYPE html>
<html>
  <head>
    <title>Members Only</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
    <div class="image-container">
      <%= image_tag "background-4.jpg" %>
      <div class="logo-container">
        <div class="logo-text">MEMBERS ONLY</div>
      </div>
    </div>

    <div class="content-container">
      <header id="header">
        <h1>Social Media Feed</h1>
        <h1>Logged in Users can post, and view the names of all post Authors.</h1>
      </header>

      <%= yield %>
      
      <footer id="footer">
        <%= link_to "All Posts", posts_path %>
        <%= link_to "New Post", new_post_path %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Sign Out", destroy_user_session_path %>
      
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </footer>
    </div>
  </body>
</html>
